body {
  background-color: #FDF3E7;
  color: #3B3738;
}
.jumbotron {
  color: white;
  background-color: #C63D0F;
  width: 100%;
}


.jumbotron h2 {
text-align: center;
font-size: 400%;
}

#name, #sizeOf, #crust {
  width: 50%;
}

#results {
  display: none;
}
.footer {
  text-align: center;
}
